---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Voz pasiva">
    <main>
        <div class="main-title-container">
            <h1 class="main-title">
                <span class="span-01">THE PASSIVE VOICE;</span>
                <br /><span class="span-02">LITERATURE,</span>
                <br />
                <span class="span-03">MEDIA, AND</span>
                <br /><span class="span-04">BUG REPORTS</span>
            </h1>
        </div>
        <div class="botones-juegos">
            <a class="linkGame" href="/iagame"><h3>Juego de Apertura</h3></a>
            <a class="linkGame" href="/voz"><h3>Juego de Cierre</h3></a>
        </div>

        <section class="lamina-01">
            <h2>¿Qué es la voz pasiva en inglés?</h2>
            <p>
                La voz pasiva es una estructura gramatical donde el sujeto
                recibe la acción en lugar de realizarla. Es común en inglés para
                expresar ideas de forma neutral o impersonal.
            </p>
            <div class="gramar-rules">
                <h3>Estructura gramatical</h3>
                <p>
                    Subject + to be (en el tiempo correcto) + past participle +
                    (by + agent).
                </p>
            </div>
            <div class="frases-dario">
                <h3>Ejemplos</h3>
                <p>
                    PS: The car is washed every week <strong
                        >El carro es lavado cada semana</strong
                    >
                </p>
                <p>
                    PS: The letter was sent yesterday <strong
                        >La carta fue enviada ayer</strong
                    >
                </p>
                <p>
                    PS: The project will be finished next month <strong
                        >EL proyecto será terminado el próximo mes</strong
                    >
                </p>
            </div>
        </section>

        <section class="lamina-01-examples-container">
            <h2>Ejemplos</h2>
            <div class="examples-container">
                <div class="example">
                    <a href="/PrideAndPrejudiceExample"
                        ><h3>Pride and Prejudice</h3></a
                    >
                    <div class="pride-prejudice-video-container">
                        <video
                            src="/orgullo-prejuicio.mp4"
                            autoplay
                            transition:name="orgullo-prejuicio-video"
                            transition:persist></video>

                        <video
                            src="https://firebasestorage.googleapis.com/v0/b/test-e870e.appspot.com/o/orgullo-prejuicio.mp4?alt=media&token=b113291f-f1b3-4a9c-9128-8872a10524e0"
                            autoplay
                            transition:name="orgullo-prejuicio-video"
                            transition:persist></video>
                    </div>
                    <div class="pride-prejudice-analysis">
                        <p>
                            (Es una verdad universalmente aceptada que un hombre
                            soltero con una gran fortuna debe estar en busca de
                            una esposa).
                        </p>
                        <h4>Análisis</h4>
                        <ul>
                            <li>
                                Uso de "It is universally acknowledged":
                                <p>
                                    La voz pasiva destaca que la idea es
                                    aceptada por la sociedad, pero no se
                                    menciona quién la reconoce. Esto refuerza un
                                    tono generalizado y neutro, eliminando a un
                                    sujeto específico.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="example">
                    <a href="/GatsbyExample"><h3>The Great Gatsby</h3></a>
                    <div class="pride-prejudice-video-container">
                        <video
                            src="/gatsby.mp4"
                            autoplay
                            transition:name="gatsby-video"
                            transition:persist></video>
                        =======
                        <video
                            src="https://firebasestorage.googleapis.com/v0/b/test-e870e.appspot.com/o/gatsby.mp4?alt=media&token=0f861c63-fb20-4428-9338-7c6ea744d947"
                            autoplay
                            transition:name="gatsby-video"
                            transition:persist></video>
                    </div>
                    <div class="pride-prejudice-analysis">
                        <p>
                            (La casa estaba pintada de amarillo, y su color
                            brillante se reflejaba en el agua de la piscina).
                        </p>
                        <h4>Análisis</h4>
                        <ul>
                            <li>
                                Uso de "The house was painted" y "was
                                reflected"::
                                <p>
                                    La voz pasiva crea un tono descriptivo e
                                    impersonal que permite al lector centrarse
                                    en los detalles visuales en lugar del agente
                                    que pintó la casa o del proceso de
                                    reflexión.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="example">
                    <a href="/ochentaYCuatroExample"><h3>1984</h3></a>
                    <div class="pride-prejudice-video-container">
                        <video
                            src="/1984.mp4"
                            autoplay
                            transition:name="1984-video"
                            transition:persist></video>

                        <video
                            src="https://firebasestorage.googleapis.com/v0/b/test-e870e.appspot.com/o/1984.mp4?alt=media&token=ea8290c1-9d66-4c12-96b2-120ff6a834c3"
                            autoplay
                            transition:name="1984-video"
                            transition:persist></video>
                    </div>
                    <div class="pride-prejudice-analysis">
                        <p>
                            (El pasado fue borrado, el olvido fue olvidado, la
                            mentira se convirtió en verdad).
                        </p>
                        <h4>Análisis</h4>
                        <ul>
                            <li>
                                Uso de "was erased" y "was forgotten":
                                <p>
                                    La pasiva enfatiza el impacto de las
                                    acciones (borrar y olvidar), sin identificar
                                    a los responsables. Esto refleja el carácter
                                    opresivo y manipulador del gobierno en la
                                    narrativa.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="lamina-02">
            <h2>La Voz Pasiva en los Medios de Comunicación</h2>
            <ul>
                <h3>Propósito en los medios</h3>
                <p>La voz pasiva en noticias y reportajes se utiliza para:</p>
                <li>Presentar hechos de manera objetiva.</li>
                <li>Reducir la responsabilidad directa.</li>
                <li>Enfocarse en el evento en lugar del agente.</li>
            </ul>
            <div class="lamina-02__card-container">
                <div class="lamina-02-card">
                    <h3>Several homes were destroyed by the wildfire.</h3>
                    <p>
                        (Varias casas fueron destruidas por el incendio
                        forestal).
                    </p>
                    <ul>
                        <li>
                            La voz pasiva permite que el enfoque recaiga en el
                            impacto del incendio, destacando a las víctimas o
                            las consecuencias, en lugar de mencionar
                            específicamente cómo comenzó el fuego.
                        </li>
                    </ul>
                </div>
                <div class="lamina-02-card">
                    <h3>A new policy was approved by the Senate yesterday.</h3>
                    <p>(Una nueva política fue aprobada por el Senado ayer).</p>
                    <ul>
                        <li>
                            El uso de la voz pasiva omite detalles innecesarios
                            sobre el proceso legislativo y dirige la atención al
                            resultado (la aprobación).
                        </li>
                    </ul>
                </div>
                <div class="lamina-02-card">
                    <h3>
                        The suspect was arrested in a dramatic police operation.
                    </h3>
                    <p>
                        (El sospechoso fue arrestado en una operación policial
                        dramática).
                    </p>
                    <ul>
                        <li>
                            Al utilizar la voz pasiva, el titular centra la
                            atención en el sospechoso y el hecho del arresto, en
                            lugar de detallar qué agente o equipo llevó a cabo
                            la operación.
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="lamina-03">
            <div class="lamina-03-info">
                <h2>La Voz Pasiva en los Informes de Errores (Bug Reports)</h2>
                <h3>Importancia en informes técnicos</h3>
                <h4>En tecnología, la voz pasiva es clave para:</h4>
                <ul>
                    <li>Describir problemas de forma clara y profesional.</li>
                    <li>
                        Mantener el enfoque en el problema, no en el
                        responsable.
                    </li>
                    <li>
                        Facilitar la comprensión por parte de equipos técnicos.
                    </li>
                </ul>
            </div>

            <div class="lamina-03-estructura">
                <h2>Estructura típica de un informe de errores:</h2>
                <ol>
                    <li>
                        <strong>Título: Describe el error.</strong>
                        <ul>
                            <li>
                                Ejemplo: "The form cannot be submitted."(El
                                formulario no se puede enviar).
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong> Descripción: Explica el problema.</strong>
                        <ul>
                            <li>
                                Ejemplo: "When the submit button is clicked, no
                                action is performed."(Cuando se presiona el
                                botón de envío, no se realiza ninguna acción).
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong
                            >Pasos para reproducir: Detalla cómo replicar el
                            error.</strong
                        >
                    </li>
                    <li>
                        <strong>
                            Resultados esperados vs. actuales: Compara lo
                            esperado con lo ocurrido.
                        </strong>
                    </li>
                </ol>
                <p>
                    Ejemplo de buen uso de la voz pasiva: The issue was detected
                    during testing."(El problema fue detectado durante las
                    pruebas.)
                </p>
            </div>
        </section>
    </main>

    <style>
        main {
            background-color: #e7eaef;
        }
        .main-title-container {
            width: 100%;
            display: flex;
            padding: 20px 0 0;
            justify-content: center;
            .main-title {
                color: #217074;
                font-family: Poppins, sans-serif;
                line-height: 4.2rem;
            }
            .span-01 {
                font-size: 3rem;
            }
            .span-02 {
                font-size: 5.2rem;
            }
            .span-03 {
                font-size: 5.1rem;
            }
            .span-04 {
                font-size: 4.4rem;
            }
        }

        .botones-juegos {
            display: flex;
            gap: 40px;
            justify-content: center;
        }

        .linkGame {
            font-size: 30px;
            text-decoration: none;
            color: white;
            padding: 10px 50px;
            border-radius: 20px;

            background-color: #412174;
            transition: all;
            transition-duration: 0.5s;
        }

        .linkGame:hover {
            font-size: 30px;
            scale: 1.1;
            text-decoration: none;
            color: white;
            padding: 10px 50px;
            border-radius: 20px;
            background-color: #217074;
        }
        .pride-prejudice-video-container {
            /* min-width: 320px; */
            padding: 0;
            /*  position: absolute; */
            width: 100px;
            height: 100px;
            z-index: -2;
            transition: all 1s;

            video {
                border-radius: 50px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .pride-prejudice-video-container:hover {
            width: 150px;
            height: 150px;
            transition: all 1s;
        }

        .examples-container {
            display: flex;
            justify-content: center;
            gap: 5px;
            flex-wrap: wrap;
        }

        .example {
            font-family: Poppins;
            width: 320px;
            padding: 20px;
            border-radius: 20px;
            background-color: rgb(247, 237, 237);
        }

        .lamina-01 {
            margin: 60px 0 0;
            font-family: Poppins;
            color: white;
            background-color: #217074;
            padding: 20px;
            text-align: center;
        }
        .lamina-01-examples-container {
            margin: 60px 0;
        }
        .lamina-01-examples-container > h2 {
            font-family: Poppins, sans-serif;
            text-align: center;
            margin-bottom: 20px;
        }

        .lamina-02 {
            margin: 60px 0 0;
            font-family: Poppins;
            color: white;
            background-color: #217074;
            padding: 20px;
            text-align: center;
        }

        .lamina-02__card-container {
            margin: 60px 0 0;
            display: flex;
            justify-content: center;

            flex-wrap: wrap;
            gap: 10px;

            .lamina-02-card {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 300px;
                background-color: rgb(247, 237, 237);
                border-radius: 20px;
                padding: 20px;
                color: black;
            }
        }

        .lamina-03 {
            font-family: Poppins, sans-serif;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 60px;

            /*  background-color: black; */
        }
        .lamina-03-info {
            padding: 60px 0 0;
            /* background-color: #217074; */
            width: 100%;
            max-width: 900px;
        }
        .lamina-03-estructura {
            padding: 60px 0 0;
            /* text-align: center; */
            /* background-color: aqua; */
            /*  background-color: #217074; */
            max-width: 900px;
            width: 100%;
        }
    </style>
</Layout>
