---
import  Layout from "../layouts/Layout.astro";
import Quotes from "../components/quotes.astro";

---

<Layout title="Voz pasiva">
    <div>
        <section class="color-bg"></section>
        <div class="video-container">
            <video src="https://firebasestorage.googleapis.com/v0/b/test-e870e.appspot.com/o/1984.mp4?alt=media&token=ea8290c1-9d66-4c12-96b2-120ff6a834c3" autoplay  transition:name="1984-video"  transition:persist></video>
        </div>
        <Quotes text="The past was erased, the erasure was forgotten, the lie became truth." person='"1984" de George Orwell (1949)' imgWidth="100px" imgHeight="100px" imgUrl="/1984.jpg"></Quotes>
    </div>
</Layout>
<style>
   div {
    min-width: 320px;
    background-color: rgb(252, 233, 228);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 1;
   }
   .color-bg {
    position: absolute;
    z-index: -1;
    background-color: rgba(17, 16, 16, 0.404);
    width: 100%;
    height: 100%;
   }
   .video-container {
    min-width: 320px;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }
 
</style>